body, html {
	font-family: 'Montserrat', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #555;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h1 {
	color: #333;
	font-size: 64px;
	font-weight: 800;
	margin-top: 0;
	text-transform: uppercase;
	margin-bottom: 10px;
}
h2 {
	margin: 0 0 20px 0;
	font-weight: 700;
	font-size: 42px;
	color: #333;
	text-transform: uppercase;
}
h3 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
h4 {
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #888;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #222;
}
a:hover, a:focus {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 6px;
	width: 70px;
	position: relative;
	background: #444;
	margin-bottom: 20px;
	margin-left: 0;
	border: 0;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
.section-title {
	margin-bottom: 50px;
}
.btn-custom {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #444;
	background-color: transparent;
	border: 2px solid #444;
	padding: 14px 20px;
	margin: 0;
	font-size: 14px;
	border-radius: 0;
	margin-top: 20px;
	margin-right: 30px;
	transition: all 0.5s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #eee;
	background-color: #444;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	margin-bottom: 80px;
	background: url(../img/intro-bg2.jpg) no-repeat right top;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d5dade+100&0.5+0,0+100 */
	background: -moz-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(213,218,222,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(213,218,222,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,0.5) 0%, rgba(213,218,222,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00d5dade', GradientType=1 ); /* IE6-9 */
}
.intro .fa {
	font-size: 94px;
	margin-bottom: 40px;
	color: #fff;
}
.intro p {
	color: #444;
	margin: 10px 0 20px 0;
	font-size: 22px;
}
header .intro-text {
	padding-top: 250px;
	padding-bottom: 200px;
}
/* Portfolio Section */
#portfolio {
	padding: 40px 0 100px 0;
}
.categories {
	margin-bottom: 80px;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-right: 20px;
}
ol.type li a {
	font-family: 'Montserrat', sans-serif;
	color: #444;
	font-size: 14px;
	padding: 10px 20px;
	border: 2px solid #444;
	border-radius: 0;
	text-transform: uppercase;
}
ol.type li a.active {
	background: #444;
	color: #eee;
}
ol.type li a:hover {
	background: #444;
	color: #eee;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	padding: 0 10px;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 10px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.portfolio-item .hover-bg {
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #333;
	background: rgba(255, 255, 255, 0.75);
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text .overlay-caption {
	display: table;
	height: 100%;
	width: 100%;
}
.hover-bg .hover-text .overlay-caption .overlay-content {
	display: table-cell;
	vertical-align: middle;
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
/* Contact Section */
#contact {
	padding: 60px 0 60px 0;
	background: #262626;
}
#contact h2 {
	font-weight: 400;
	color: #777;
	margin: 60px 0;
}
#contact img {
	width: 140px;
	margin: 5px 30px 10px 0;
}
#contact p {
	color: #666;
	margin-bottom: 20px;
	line-height: 24px;
}
#contact .social {
	margin-top: 40px;
}
#contact .social ul li {
	display: inline-block;
	margin-right: 20px;
}
#contact .social i.fa {
	font-size: 26px;
	padding: 4px;
	color: #777;
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	color: #eee;
}
#contact form {
	padding: 0;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.42857143;
	color: #aaa;
	background-color: #444;
	background-image: none;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .btn-default {
	font-weight: 400;
	color: #666;
	background-color: transparent;
	border: 2px solid #666;
	padding: 10px 20px;
	margin: 0;
	font-size: 15px;
	border-radius: 0;
	margin-top: 20px;
	text-transform: uppercase;
	transition: all 0.3s;
}
#contact .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #666;
	color: #999;
}
/* Footer Section*/
#footer {
	background: #262626;
	padding: 50px 0 20px 0;
}
#footer p {
	font-size: 15px;
	color: #666;
}



/* ------------------------------------------------------------------------------

	Template Name: designstub
	Template URI: http://www.designstub.com/
	Description: Full Screen Design Agency Template
	Author: Andy
	Author URI: http://www.designstub.com
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Version: 1.0
	
	1. CSS Reset
	2. Document Setup
	3. Header Part
		3.1 Menu Style
	4. About me Style
	5. Skills Style
	6. Experience Style
	7. Education Style
	8. Portfolio Style
	9. Contact Style
	10.Footer Style
	11.Responsive style
		
		
--------------------------------------------------------------------------------/*


/*----------------------------------------------------
	6. Work Experience Style
------------------------------------------------------*/

.myexperties {
	background:#f8f8f8;
}
.myexperties .container{
	padding-top:67px ;
	padding-bottom:0 ;
	margin-bottom:-20px;
}
.expertiesico {
	padding:70px 63px 70px 0;
	text-align:right;
	font-family:'Crimson Text',serif;
	font-size:21px;
	line-height:24px;
	color:#5b4c5c;
	font-style:italic;
}
.expertiesdesc {
	border-left:2px solid #ada5ad;
	padding:0 0 0 69px;
	margin-bottom:100px;
}
.expertiesdesc p {
	padding-bottom:0;
}
.expertiesdesc h4 {
	font-size:14px;
	font-weight:300;
	color:#UIzards;
	line-height:normal;
	text-transform:uppercase;
	letter-spacing:2px;
}
.expertiesdesc h5 {
	font-family: 'Crimson Text', serif;
	color:#5b4c5c;
	font-size:18px;
	font-style:italic;
	font-weight:400;
}

/*----------------------------------------------------
	7. Education & Diplomas Style
------------------------------------------------------*/

.educationdiploma {
	background:#fff;
}
.educationdiploma .container{
	padding-top:65px ;
	padding-bottom:0 ;
	margin-bottom:-20px;
}


/*----------------------------------------------------
	9. Contact Style
------------------------------------------------------*/

.contact{
	background:#f8f8f8;
}
.contact .container{
	padding-top:75px;
	padding-bottom:0;
}
.mapArea{
	height:462px;
	overflow:hidden;
	width:100%;
	margin:0;
	background:#3b323c;
}
.mapArea iframe{
	width:100%;
	height:100%;
}
#map img { max-width: none; }


.contactDetails{
	background:#fff;
}
.contactDetails .container{
	padding-top:69px ;
	padding-bottom:50px ;
	text-align:center;
}

.conForm input,
.conForm textarea {
	float:none;
	display:inline-block;
}
.conForm input{
	background:#fafafa;
	border-bottom:solid 2px #ccc1cd !important;
	color:#805183;
	text-transform:uppercase;
	padding:15px 30px;
	border:none;
	margin-bottom:30px;
	outline:none;
}

.conForm textarea{
	background:#fafafa;
	color:#805183;
	text-transform:uppercase;
	border-bottom:solid 2px #ccc1cd !important;
	padding:15px 30px;
	border:none;
	margin-bottom:40px;
	outline:none;
	height:185px;
}

.conForm .submitBnt{
	background:none;
	font-family: 'Montserrat', sans-serif;
	color:#372d38;
	font-size:12px;
	letter-spacing:2px;
	text-transform:uppercase;
	font-weight:400;
	text-align:center;
	margin:0px;
	border:2px solid #746c75 !important;
	padding:0;
	width:322px;
	height:52px;
}
.conForm .submitBnt:hover{
	color:#000;
}

.textGroup{
	position:relative !important;
	display: inline-block;
	padding-left:0px !important;
}

#success_page{
	color: #00bdbd;
	font-weight: 500;
}
.error_message{
	color: #ff675f;
	padding-bottom: 15px;
	font-weight: 500;
}
#success_page h3{
	font-size:17px;
	color: #00bdbd;
}


.contactInfo{
	background:#101010 url(../images/contact-bg.jpg) repeat 0 0 fixed;
	text-align:center;
	padding:94px 0 35px;
	position:relative;
}
.contactInfo:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1;
	background: rgba(0, 0, 0, 0.7);
}
.contactInfo .container{
	position:relative;
	z-index:2;
}

#message {
	margin-bottom:30px;
}
.cinfoBox{
	padding-bottom:40px;
}
.cinfoBox span.infoIcon{
	display:block;
	border:solid 2px #fff;
	margin:0 auto;
	margin-bottom:40px;
	font-size:60px;
	line-height:145px;
	width:150px;
	height:150px;
	
	-webkit-border-radius: 50%;
    border-radius: 50%;
}
.cinfoBox p{
	font-weight:600;
	font-size:14px;
	color:#fff;
	padding-bottom:0px;
}
.cinfoBox p a{
	color:#fff;
	text-decoration:none;
}
.cinfoBox p a:hover{
	color:#ff554e;
}

/*----------------------------------------------------
	 10. Footer Style
------------------------------------------------------*/
.footer{
	background:#f8f8f8;
}
.footer .container{
	padding:84px 0 0;
}

.footer ul{
	margin:0 auto;
	margin-bottom:62px;
	text-align:center;
	list-style-type:none;
}
.footer ul li{
	display:inline-block;
	text-align:center;
	background:#bebabe;
	color:#ffffff;
	line-height:55px;
	margin:0 17px 14px;
	width:55px !important;
	height:55px !important;
	
	-webkit-border-radius: 50%;
    border-radius: 50%;
}
.footer ul li:hover{
	background:#1d1d1d ;
}
.footer ul li:hover	a{
	color:#fff;
}

.footer ul li a{
	color:#fff;
	width:42px !important;
	height:42px !important;
}
.footer ul li a i{
	line-height:55px !important;
	color:#fff;
}

.footer p{
	color:#8c9099;
	font-size:15px;
	line-height:24px;
	font-weight:300;
	text-align:center;
}
.footer p:last-child{
	padding-bottom:0px;
}
.gototop {
	display:inline-block;
	width:40px;
	height:40px;
	border:2px solid #746c75;
}
.gototop i {
	color:#817a82;
	line-height:35px;
}

/* Preloader */
#preloader {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:9999999999; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	color:#fff;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../images/preloader.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}
#status p{text-align:center;}




/*---------------------------------------------------------------------------------
	 11. Responsive style
-------------------------------------------------------------------------------*/

@media screen and (min-width: 1200px) {
	.workYear{
		width:140px;
		height:140px;
		padding-top:50px;
	}
	
	.education .workYear{
		padding-top:58px;
	}
}


@media screen and (max-width: 991px) {

	.bannerText h1{
		font-size:65px;
		line-height:71px;
	}
	.bannerText h2{
		font-size:28px;
	}
	.proPic{
		text-align:center;
	}
	
	.navbar-inverse .navbar-toggle .icon-bar{
		background:#000;
	}
	.navbar-inverse .navbar-toggle:hover .icon-bar,
	.navbar-inverse .navbar-toggle.active .icon-bar{
		background:#fff;
	}
	.navbar-inverse .navbar-toggle.active {
		background-color:#11141c;
	}
}




@media screen and (max-width: 810px) {
	body{
		min-height:700px;
	}
	#header h3{
		font-size: 38px;
	}
	#header h3 span{
		font-size: 16px;
	}
	
	.abc{
		width:100%;
	}
	.navArea {
		float:none;
	}
	

	
}


@media screen and (min-width: 768px) {
	.conForm input.col-sm-6 {
		width: 48.5%;
	}
	.conForm input.col-lg-6 {
		width: 48.5%;
	}
	.navbar.navbar-inverse.navbar-static-top a {
		padding-left:12px;
		padding-right:12px;
	}
	.navbar.navbar-inverse.navbar-static-top a.closeMenu {
		width:28px;
		height:28px;
		top:25px;
	}
	.closeMenu i {
		line-height:25px;
	}
}


@media screen and (max-width: 767px) {
	.navbar-wrapper .container,
	.navwrapper .container{
		width:100%;
	}
		.navbar-nav{
		position: absolute;
		width: 100%;
		left: 0;
		color:#fff;
		background:#181a1c;
		text-align:center;
	}
	.nav > li > a {
		display:block;
	}
	.navbar.navbar-inverse.navbar-static-top a:hover{
		background:none;
	}
	
	.navbar-nav > li{
		float:none;
		display:block;
	}
	.navbar-nav > li> a{
		padding:15px 0 !important;
		color:#fff !important;
	}
	.navbar-nav > li> a:hover{
		background:#000 !important;
	}

	ul.portfolioContainer li.col-xs-6{
		width:49%;
		min-height: 85px;		
	}
	.navbar-toggle {
		margin-top: 23px;
	}
	.navbar .container{
		padding:0;
	}
	.isStuck.navbar-wrapper .navArea{
		display:block;
	}
	.navbar-header .navbar-brand{
		float:right;
	}

	
}


@media screen and (max-width: 767px) {
	.navbar-header{
		display:none;
	}
	.isStuck .navbar-header{
		display:block;
	}
	.workYear{
		margin:0 auto;
	}
	.workDetails .rightArea{
		border-left:none;
	}
	.arrowpart{
		float:none;
		width:100%;
		height:40px;
		background:url(../images/arrow-top.png) no-repeat 50% 100%;
	}
	.education .arrowpart{
		background:url(../images/arrow-top-light.png) no-repeat 50% 100%;
	}
	.exCon{
		margin-left:0px;
	}
	/*.stuckMenu .closeMenu {
		display:none;
		left:10px;
		top:24px !important;
		right:inherit;
	}*/
	.closeMenu,
	.nav-icon{
		display:none;
	}
	.navbar-nav > li {
		display:block;
	}
	ul.navbar-nav li a{
		display:block;
	}
	.navbar.navbar-inverse.navbar-static-top a {
		padding:10px 0;
	}
	.about{
		border-right:none;
		border-bottom:solid 1px #dbdbdb
	}
	.about:nth-child(3n+3){
		border-bottom:none;
	}
	.media {
		text-align:center;
	}
	.experdate {
		margin:0 auto 40px;
	}
	.conForm .submitBnt {
		width:100%;
	}
}


@media screen and (max-width: 650px) {
	
	#wrapper{
		top: 200px !important;
	}
	.heading {
		padding-bottom:40px;
	}
	.upbox{
		transform: translate(0px, -70px);
		-ms-transform: translate(0px, -70px); /* IE 9 */
		-webkit-transform: translate(0px, -70px); /* Safari and Chrome */
	}	
	.bannerText {
		padding-top:15px;
		padding-bottom:15px;
	}
	.bannerText h1 {
		font-size: 42px;
		line-height: 48px;
	}
	.bannerText h3 {
		font-size: 28px;
		line-height: normal;
	}
	.bannerText h2 {
		font-size: 18px;
		line-height:24px;
	}
	.aboutus h3 {
		padding-top:20px;
	}
	.expertiesico {
		padding:0;
		border:none;
		text-align:center;
		margin-bottom:30px;
	}
	.expertiesdesc {
		padding:0;
		margin-bottom:50px;
	}
	.skillbar:last-child {
		margin-bottom:0;
	}
	
	
}


@media screen and (max-width: 480px) {
	.bannerText h1 {
		font-size:32px;
	}
	.bannerText h3 {
		font-size:20px;
	}
	.bannerText p {
		font-size:15px;
		padding-bottom:20px;
	}
	
}


@media screen and (max-width: 400px) {
	#loopedSlider, #newsSlider{
		min-height: 650px;
		height: 100%;
	}
	ul.slides{
		min-height: 600px;
		height: 100%;
	}
	
	.item{
		width: 19%;
	}
	.item p {
		font-size: 36px;
	}
	
	.ourservice img{
		width:100%;
	}
	
	ul.portfolioContainer li.col-xs-6{
		width:100%;
	}
	
	.bntDownload{
		font-size: 13px;
		padding: 16px 14px;
	}
	
	.conForm textarea{
		margin-bottom:20px;
	}
	.textGroup{
		display:block;
		padding:0 0 40px 0;
	}
	
	.nameError,
	.emailError{
		left:0px;
		top:0px;
		
	}
}


